.task p {
    display: inline;
    margin: 0;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li > .left-side {
    display: flex;
    align-items: center;
}

li > .right-side {
    line-height: 0;
}

.expand-arrow {
    width: 0.45em;
    rotate: -90deg;
    transition: 0.3s;
}

.expand-arrow[aria-expanded="true"] {
    rotate: 0deg;
}

.remove-task-button {
    visibility: hidden;
    padding: 4px;
    background-color: hsla(0, 100%, 50%, 0.2);
    border-radius: 100vw;
    aspect-ratio: 1/1;
}

li:hover .remove-task-button {
    visibility: visible;
}
