.task p {
    display: inline;
    margin: 0;
}

li {
    display: flex;
    align-content: center;
    align-items: center;
}

.expand-arrow {
    width: 0.45em;
    rotate: -90deg;
    transition: 0.3s;
}

.expand-arrow[aria-expanded="true"] {
    rotate: 0deg;
}
