.main-tasks {
    padding: 0 0.5rem;
}

.main-tasks h2 {
    font-family: "LogoFont";
    font-weight: normal;
    font-size: 1.3rem;
    margin: 0;
    letter-spacing: -0.05ch;
}

.no-margin-left > div {
    margin-left: 0;
}
