/* :root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    height: 100%;
    overflow: hidden;
    user-select: none;

    color: #0f0f0f;
    background: rgb(75, 160, 205);
    background: linear-gradient(
        0deg,
        rgba(75, 160, 205, 1) 0%,
        rgba(100, 180, 110, 1) 100%
    );

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    line-height: 0%;
    width: calc(100% - 8px);
    min-width: 25rem;
    display: flex;
    justify-content: space-between;
}
*/
/* button {
    border-radius: 999px;
    box-sizing: border-box;
    cursor: pointer;
    padding: 0 18px;
    border: 1px solid rgb(0, 0, 0);
    background-color: darkred;
    color: aliceblue;
} */

* {
    box-sizing: border-box;
    /* border: 2px solid red; */
}
body {
    margin: 0;
}

/*nav {
    padding: 0px 8px;
    line-height: 0;
    user-select: none;
    background-color: #ddd;
}

 nav > ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}
nav > ul > li > .icon > svg {
    width: auto;
    height: 1.5rem;
    float: right;
}

.icon {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon > .itemys {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

nav > ul > .righty {
    float: right;
}

.none {
    visibility: hidden;
} */
